/* 
 This is a css file for the page
 Reference to the layout: https://codepen.io/demmy_abs/pen/LYBLjBV
*/

body{
    margin: 0;
    padding: 0;
    background-color: #2e476a;
    text-align: center;
}
h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 72px;
}

h5 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
}

  